<div class="container" *ngIf="userLevelBool">
    <div class="headerTitle">
        Guides
    </div>
    <div class="comboContainer">
        Select role:
        <div class="combo inline">
            <select
            (change)="updateValue($event)">
            <option *ngFor="let i of role">{{i}}</option>
            </select>
        </div>
    </div>
    <div style="clear: both;"></div>
    <div class="guidesContainer">
        <div class="guideGrids" [innerHTML]="sanitizer.bypassSecurityTrustHtml(htmlOut)">
        </div>
    </div>
    <div style="clear: both;"></div>
</div>