<div class="containerGuides" *ngIf="userLevelBool">
    <div class="headerTitleGuides">
        Guides
    </div>
    <div class="comboContainerGuides">
        Select role:
        <div class="comboGuides inline">
            <select
            (change)="updateValue($event)">
            <option *ngFor="let i of role">{{i}}</option>
            </select>
        </div>
    </div>
    <div style="clear: both;"></div>
    <div class="guidesContainerGuides">
        <div class="guideGridsGuides" [innerHTML]="sanitizer.bypassSecurityTrustHtml(htmlOut)">
        </div>
    </div>
    <div style="clear: both;"></div>
    <mat-spinner class="loadingSpinnerGuides" *ngIf="!loaded"></mat-spinner>
</div>