.specificAdminCnontainer{
    top: 0px;
    right: 15%;
    left: 15%;
    margin-bottom: 200px;
    position: absolute;
}

.headerTitle {
    color:#ffffff;
    position: relative;
    left: 25px;
    top: -25px;
    font-size:50px;
}

.htmlEditorContainer    {
    margin-bottom: 50px;
}

.quill-editor{
    .dataplaceholder {
        color: #ffffff;
    }
    background-color: #7f7f7f;
}

.ql-toolbar {
    background-color: #f0f0f0;
}

.radioButtonsContainer {
    position: relative;
    float: right;
    top: -5px;
}

.radio-button   {
    margin-left: 30px;
    color:#fff;
}

.roleTitle {
    color:#ffffff;
    position: relative;
    font-size:25px;
    margin: 20px;
}

.specificGuideAdminRoleButtonSave   {
    position: relative;
    float: right;
    top: 10px;
    right: 25px;
}

.specificGuideAdminButtonDelete {
    position: relative;
    float: left;
    top: 50px;
}

.specificGuideAdminButtonSave   {
    position: relative;
    float: right;
    top: 14px;
}
