<!-- index.html -->

<div class="container">
    <div class="headerTitle">
        {{bossName}} - Editor
    </div>
    <mat-radio-group class="radioButtonsContainer" [(ngModel)]="roleSelect" (change)="radioChange($event)">
            <mat-radio-button color="primary" class="radio-button" *ngFor="let rol of role" [value]="rol">
              {{rol}}
            </mat-radio-button>
    </mat-radio-group>
    <div class="htmlEditorContainer" *ngIf="roleSelect=='all' || roleSelect=='melee dps'">
      <div class="roleTitle">
        Melee dps
      </div>
      <quill-editor 
        [(ngModel)]="editorContentMelee"
        [options]="editorOptions"
        (blur)="onEditorBlured('melee',$event)"
        (focus)="onEditorFocused('melee',$event)"
        (ready)="onEditorCreated('melee',$event)"
        (change)="onContentChanged('melee',$event)">
      </quill-editor>
    </div>
    <div class="htmlEditorContainer" *ngIf="roleSelect=='all' || roleSelect=='range dps'">
      <div class="roleTitle">
        Range dps
      </div>
      <quill-editor 
        [(ngModel)]="editorContentRange"
        [options]="editorOptions"
        (blur)="onEditorBlured('range',$event)"
        (focus)="onEditorFocused('range',$event)"
        (ready)="onEditorCreated('range',$event)"
        (change)="onContentChanged('range',$event)">
      </quill-editor>
    </div>
    <div class="htmlEditorContainer" *ngIf="roleSelect=='all' || roleSelect=='healer'">
      <div class="roleTitle">
        Healer
      </div>
      <quill-editor 
        [(ngModel)]="editorContentHealer"
        [options]="editorOptions"
        (blur)="onEditorBlured('healer',$event)"
        (focus)="onEditorFocused('healer',$event)"
        (ready)="onEditorCreated('healer',$event)"
        (change)="onContentChanged('healer',$event)">
      </quill-editor>
    </div>
    <div class="htmlEditorContainer" *ngIf="roleSelect=='all' || roleSelect=='tank'">
      <div class="roleTitle">
        Tank
      </div>
      <quill-editor 
        [(ngModel)]="editorContentTank"
        [options]="editorOptions"
        (blur)="onEditorBlured('tank',$event)"
        (focus)="onEditorFocused('tank',$event)"
        (ready)="onEditorCreated('tank',$event)"
        (change)="onContentChanged('tank',$event)">
      </quill-editor>
    </div>
</div>