.footer {
    background-color: #000000;
    height: 40px;
    bottom: 0%;
    right: 0%;
    left: 0%;
    z-index:1000;
    position: fixed;
}

.menu {
    right: 10%;
    left: 10%;
    height: 70px;
    position: fixed;    
    background-color: #000000;
    display: flex;
}

.firstDiv {
    background-color: #000000;
    height: inherit;
    text-align: center;
}


.secondDiv {
    background-color: #000000;
    height: inherit;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    flex: 1;
}

.thirdDiv {
    background-color: #000000;
    height: inherit;
}