<div class="container">
    <div class="loadingDiv" *ngIf="!loaded">
        Loading data! ({{loadedCounter}}/{{totalToLoad}})
    </div>
    <ngx-datatable
        #myTable
        class='material expandable'
        [rows]="rows"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="0"
        [rowHeight]="40"
        [rowClass]="getRowClass"
        (page)="onPage($event)"
    > 
        <ngx-datatable-row-detail [rowHeight]="detailsHeight" #myDetailRow (toggle)="onDetailToggle($event)">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
            <div class="tableContainer">
                <ngx-datatable
                    class='material test'
                    [rows]='detailedRows[row.rowIndex]'
                    [columnMode]="'force'"
                    [headerHeight]="30"
                    [rowHeight]="40">
                    <ngx-datatable-column name="boss" [cellClass]="getCellClass">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <span>
                                {{value}}
                            </span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="normal" [cellClass]="getCellClass">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <span>
                                {{value}}
                            </span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="heroic" [cellClass]="getCellClass">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <span>
                                {{value}}
                            </span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="mythic" [cellClass]="getCellClass">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <span>
                                {{value}}
                            </span>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
            </ng-template>
        </ngx-datatable-row-detail>
        <ngx-datatable-column
            [width]="5"
            [resizeable]="false"
            [sortable]="false"
            [draggable]="false"
            [canAutoResize]="false">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template *ngIf="!loaded">
                <a
                    href="javascript:void(0)"
                    title="Expand/Collapse Row"
                    (click)="toggleExpandRow(row)">
                    <img src="assets/arrow_right.png" width="20px" height="20px" *ngIf="!expanded">
                    <img src="assets/arrow_down.png" width="20px" height="20px" *ngIf="loaded">
                </a>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="name">
            <ng-template let-row="row" let-expanded="expanded" let-value="value" ngx-datatable-cell-template>
                <span>
                    {{value}}
                </span>
            </ng-template>
         </ngx-datatable-column>
        <ngx-datatable-column name="class">
            <ng-template let-row="row" let-expanded="expanded" let-value="value" ngx-datatable-cell-template>
                <span>
                    {{value}}
                </span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="spec">
            <ng-template let-row="row" let-expanded="expanded" let-value="value" ngx-datatable-cell-template>
                <span>
                    {{value}}
                </span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="role" [width]="1">
            <ng-template let-row="row" let-expanded="expanded" let-value="value" ngx-datatable-cell-template>
                <img src={{value}} width="20px" height="20px">
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="normal" *ngIf="loaded" [width]="5" [cellClass]="getCellClass">
            <ng-template let-row="row" let-expanded="expanded" let-value="value" ngx-datatable-cell-template>
                <span>
                    {{value}}
                </span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="heroic" *ngIf="loaded" [width]="5" [cellClass]="getCellClass">
            <ng-template let-row="row" let-expanded="expanded" let-value="value" ngx-datatable-cell-template>
                <span>
                    {{value}}
                </span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="mythic" *ngIf="loaded" [width]="5" [cellClass]="getCellClass">
            <ng-template let-row="row" let-expanded="expanded" let-value="value" ngx-datatable-cell-template>
                <span>
                    {{value}}
                </span>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>