.container{
    top: 110px;
    right: 15%;
    left: 15%;
    bottom: 0%;
    position: fixed;
}

.gridContainer  {
    right: 15%;
    left: 15%;
    bottom: auto;
}

.buttonsContainer  {
    padding-top: 30px;
    right: 15%;
    left: 15%;
    position: fixed;
}

.button {
    width: 50px;
    height: 25px;
}

.ngx-datatable{
    background-color: #303030;
}

::ng-deep .fixed-header{
    color: #303030;
}

::ng-deep .row-class-deathKnight  {
    background-color: #C41F3B;
}

::ng-deep .row-class-demonHunter  {
    background-color: #A330C9;
}

::ng-deep .row-class-druid  {
    background-color: #FF7D0A;
}

::ng-deep .row-class-hunter  {
    background-color: #ABD473;
}

::ng-deep .row-class-mage  {
    background-color: #69CCF0;
}

::ng-deep .row-class-monk  {
    background-color: #00FF96;
}

::ng-deep .row-class-paladin  {
    background-color: #F58CBA;
}

::ng-deep .row-class-priest  {
    background-color: #FFFFFF;
}

::ng-deep .row-class-rogue  {
    background-color: #FFF569;
}

::ng-deep .row-class-shaman  {
    background-color: #0070DE;
}

::ng-deep .row-class-warlock  {
    background-color: #9482C9;
}

::ng-deep .row-class-warrior  {
    background-color: #C79C6E;
}






