.containerRoster{
    top: 0px;
    right: 15%;
    left: 15%;
    position: absolute;
    margin-bottom: 100px;
}

.mainRaidersContainerRoster   {

}

.trialRaidersContainerRoster    {

}

.headerTitleRoster {
    color:#ffffff;
    position: relative;
    left: 25px;
    top: -25px;
    font-size:50px;
}

.subTitleRoster   {
    color:#ffffff;
    position: relative;
    left: 35px;
    top: -10px;
    font-size:20px;
}

.gridContainerRoster  {
    right: 15%;
    left: 15%;
    bottom: 0%;
    color: #fff;
}

::ng-deep .datatable-body{
	height: 400px;
}

.buttonsContainerRoster  {
    position: relative;
    float: right;
    margin-bottom: 15px;
    margin-top: 15px;
}

.addButtonRoster {
    margin-right: 25px;
}

.saveButtonRoster {
}

.ngx-datatable {
    background-color: #303030;
}

::ng-deep .fixed-header{
    color: #303030;
}

::ng-deep .row-class-deathKnight  {
    background-color: #C41F3B;
    font-family: cursive;
}

::ng-deep .row-class-demonHunter  {
    background-color: #A330C9;
    font-family: cursive;
}

::ng-deep .row-class-druid  {
    background-color: #FF7D0A;
    font-family: cursive;
}

::ng-deep .row-class-hunter  {
    background-color: #ABD473;
    font-family: cursive;
}

::ng-deep .row-class-mage  {
    background-color: #69CCF0;
    font-family: cursive;
}

::ng-deep .row-class-monk  {
    background-color: #00FF96;
    font-family: cursive;
}

::ng-deep .row-class-paladin  {
    background-color: #F58CBA;
    font-family: cursive;
}

::ng-deep .row-class-priest  {
    background-color: #FFFFFF;
    font-family: cursive;
}

::ng-deep .row-class-rogue  {
    background-color: #FFF569;
    font-family: cursive;
}

::ng-deep .row-class-shaman  {
    background-color: #0070DE;
    font-family: cursive;
}

::ng-deep .row-class-warlock  {
    background-color: #9482C9;
    font-family: cursive;
}

::ng-deep .row-class-warrior  {
    background-color: #C79C6E;
    font-family: cursive;
}

.modalWindowRoster  {
    width: 300px;
}

.modalInputRoster {
    width: 100%;
}

.modalSelectRoster  {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.modalButtonContainerRoster   {
    margin-top: 15px;
}

.modalButtonCreateRoster    {
    width: 120px;
    margin-right: 10px;
    float: right;
}

.modalButtonQuitRoster    {
    float: left;
}

.loadingSpinnerRoster   {
    position: relative;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
}

