<div class="homeMenu">
    <div class="menuComponentContainer">
      <div class="menuComponent" style="cursor: pointer;" onclick="window.location='/#/roster';">
        <div class="componentTitle">
          Roster
        </div>
        <div class="componentDescription">
          Guild roster list
        </div>
      </div>
    </div>
    <div class="menuComponentContainer">
      <div class="menuComponent" style="cursor: pointer;" onclick="window.location='/#/parses';">
        <div class="componentTitle">
          Parses Overall
        </div>
        <div class="componentDescription">
          Guild parses list overall
        </div>
      </div>
    </div>
    <div class="menuComponentContainer">
      <div class="menuComponent" style="cursor: pointer;" onclick="window.location='/#/parsesIlvl';">
        <div class="componentTitle">
          Parses by ilvl
        </div>
        <div class="componentDescription">
          Guild parses list by item level
        </div>
      </div>
    </div>
</div>