<h1 mat-dialog-title>New guide</h1>
<div mat-dialog-content class="modalWindow">
  <mat-form-field class="modalInput" (input)="onChangeName($event)">
    <input matInput placeholder="Guide name" value="">
  </mat-form-field>
  <mat-form-field class="modalInput" (input)="onChangeID($event)">
    <input matInput placeholder="Guide id" value="">
  </mat-form-field>
  <mat-error *ngIf="guideIdRegex" class="errorModal">
    Only use letters or numbers (a-z A-Z 0-9)
  </mat-error>
  <mat-form-field class="modalInput" (input)="onChangeImg($event)">
    <input matInput placeholder="Image link" value="">
  </mat-form-field>
  <mat-error *ngIf="guideEmpty" class="errorModal">
    Cannot leave a field empty
  </mat-error>
  <img class="modalImgComponent" *ngIf='img!="" && showImage' src={{img}} >
  <div class="modalButtonContainer">
    <button mat-raised-button *ngIf='loaded' [disabled]="guideIdRegex" color="primary" class="modalButtonCreate" (click)="newGuideCreate($event)">
      Create guide
    </button>
    <button mat-raised-button [disabled]="true" *ngIf='!loaded' color="primary" class="modalButtonCreate">
        <img class="modalLoading" src='assets/loadingGif.gif' >
    </button>
    <button mat-raised-button *ngIf='!showImage' color="primary" class="modalButtonImage" (click)="showHideImage($event)">
      Show image
    </button>
    <button mat-raised-button *ngIf='showImage' color="primary" class="modalButtonImage" (click)="showHideImage($event)">
      Hide image
    </button>
    <button mat-raised-button color="warn" class="modalButtonQuit" (click)="quitModal($event)">
      Cancel
    </button>
  </div>
</div>

