<div class="containerAdmin" *ngIf="userLevelBool">
    <div class="headerTitleAdmin">
        Guides administrator
    </div>
    <div class="guidesContainerAdmin">
        <div class="guideGridsAdmin" [innerHTML]="sanitizer.bypassSecurityTrustHtml(htmlOut)">
        </div>
    </div>
    <div class="buttonContainerAdmin">
      <button mat-raised-button class="modalButtonAdmin" (click)="newGuide($event)">
        New Guide
      </button>
    </div>
    <mat-spinner class="loadingSpinnerAdmin" *ngIf="!loaded"></mat-spinner>
</div>