.containerAdmin{
    top: 0px;
    right: 15%;
    left: 15%;
    margin-bottom: 150px;
    position: absolute;
}

.headerTitleAdmin {
    color:#ffffff;
    position: relative;
    left: 25px;
    top: -25px;
    font-size:50px;
}

.guidesContainerAdmin{
}

.guideGridsAdmin  {
    bottom: 0%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.guideComponentContainerAdmin  {
    padding: 1%;
    height: 100px;
    min-width: 22%;
    max-width: 22%;
    position: relative;
}

                                
.guideComponentAdmin  {
    border-style: solid;
    border-radius: 25px;
    border-color: #757575;
    background-color: #a0a0a0;
    height: inherit;
    width: inherit;
    cursor: pointer;
    position: relative;
}

.guideComponentAdmin:hover  {
    border-color: #105010;
    background-color: #45a045;
}

.guideComponentTitleAdmin  {
    font-family: "Verdana", Times, serif;
    font-weight: bold;
    font-size: 15px;
    padding-top: 30px;
    padding-left: 15px;
    position: relative;
}

.guideComponentImageAdmin  {
    width: 128px;
    height: 64px;
    padding-top: 15px;
    padding-left: 15px;
    float: left;
    position: relative;
}

.buttonContainerAdmin    {
    margin: 50px;
    float: right;
}

.inline {
    display: inline;
}

.modalInput {
    width: 100%;
}

.modalWindow    {
    width: 400px;
}

.modalLoading   {
    width:30px;
    height:30px;
}

.errorModal {
    position: relative;
    top: -15px;
    font-size: 12px;
}

.modalButtonContainer   {
    margin-top: 15px;
}

.modalButtonCreate    {
    width: 120px;
    margin-right: 10px;
    float: right;
}

.modalButtonQuit    {
    float: left;
}

.modalButtonImage   {
    float: right;
    margin-right: 15px;
}

.modalImgComponent  {
    min-width:"128px";
    min-height:"64px";
    max-width:"128px";
    max-height:"64px";
}
