<div class="header">
  <div class="menu">
    <div class="logo">
      <div class="title" style="cursor: pointer;" onclick="window.location='/#/';">
        <img src="assets/guildIcon.png" width="50px" height="50px">
        <div style="padding: 5px;">
          Untamed
        </div>
      </div>
    </div>
    <div class="space">
    </div>
    <div *ngIf="loginKeyInput==true" class="loginKeyInputContainer">
      <div class="loginKeyText">
        Insert key:
      </div>
      <div class="loginKeyInput">
        <input type="text" value="" (change)="onChangeLoginInput($event)">
      </div>
      <div class="loginKeySubmit">
        <input (click)="submitKey()" type="submit" value="Submit">
      </div>
    </div>
    <div class="login">
      <div *ngIf="loginInfo==1" class="loginInfo">
        <div (click)="loginKeyInput=!loginKeyInput" class="loginText subrayado">
          Log in
        </div>
    </div>
      <div *ngIf="loginInfo==2" class="loginInfo">
        <div class="loginText">
          Role: Guild member
        </div>
      </div>
      <div *ngIf="loginInfo==3" class="loginInfo">
        <div class="loginText">
          Role: Officer
        </div>
      </div>
    </div>
  </div>
</div>