<div class="container">
    <div class="headerTitle">
        {{bossName}}
    </div>
    <div class="comboContainer">
        Select role:
        <div class="combo inline">
            <select
            [(ngModel)]="roleSelect"
            (change)="updateValue($event)">
            <option *ngFor="let i of role" value={{i}}>{{i}}</option>
            </select>
        </div>
    </div>
    <div class="guidesContainer" *ngIf="loaded">
        <div class="guideSection" *ngIf="roleSelect=='any' || roleSelect=='melee dps'">
            <div class="guidesRoleTitle">
                Melee dps
            </div>
            <div class="guidePreview">
                <quill-editor
                    *ngIf="roleSelect=='any' || roleSelect=='melee dps'" 
                    [(ngModel)]="res['data']['html-melee']"
                    [options]="editorOptions">
                </quill-editor>
            </div>
        </div>
        <div class="guideSection" *ngIf="roleSelect=='any' || roleSelect=='range dps'">
            <div class="guidesRoleTitle">
                Range dps
            </div>
            <div class="guidePreview">
                <quill-editor
                    *ngIf="roleSelect=='any' || roleSelect=='range dps'"
                    [(ngModel)]="res['data']['html-range']"
                    [options]="editorOptions">
                </quill-editor>
            </div>
        </div>
        <div class="guideSection" *ngIf="roleSelect=='any' || roleSelect=='healer'">
            <div class="guidesRoleTitle">
                Healer
            </div>
            <div class="guidePreview">
                <quill-editor
                    *ngIf="roleSelect=='any' || roleSelect=='healer'"
                    [(ngModel)]="res['data']['html-healer']"
                    [options]="editorOptions">
                </quill-editor>
            </div>
        </div>
        <div class="guideSection" *ngIf="roleSelect=='any' || roleSelect=='tank'">
            <div class="guidesRoleTitle">
                Tank
            </div>
            <div class="guidePreview">
                <quill-editor
                    *ngIf="roleSelect=='any' || roleSelect=='tank'"
                    [(ngModel)]="res['data']['html-tank']"
                    [options]="editorOptions">
                </quill-editor>
            </div>
        </div>
    </div>
</div>