.container{
    top: 0px;
    right: 15%;
    left: 15%;
    margin-bottom: 150px;
    position: absolute;
}

.headerTitle {
    color:#ffffff;
    position: relative;
    left: 25px;
    top: -25px;
    font-size:50px;
}

.comboContainer {
    position: relative;
    float: right;
    right: 10%;
    top: -40px;
    color:#fff;
}

.combo  {

}

.guidesContainer{
}

.guideSection   {
    
}

.guidesRoleTitle    {
    color:#ffffff;
    position: relative;
    font-size:25px;
    margin: 20px;
    margin-top: 50px;
}

.guidePreview   {
    background-color: #7f7f7f;
}
