<div class="containerSGuide">
    <div class="headerTitleSGuide">
        {{bossName}}
    </div>
    <div class="comboContainerSGuide">
        Select role:
        <div class="comboSGuide inline">
            <select
            [(ngModel)]="roleSelect"
            (change)="updateValue($event)">
            <option *ngFor="let i of role" value={{i}}>{{i}}</option>
            </select>
        </div>
    </div>
    <mat-spinner class="loadingSpinnerSGuide" *ngIf="!loaded"></mat-spinner>
    <div class="guidesContainerSGuide" *ngIf="loaded">
        <div class="guideSectionSGuide" *ngIf="roleSelect=='any' || roleSelect=='melee dps'">
            <div class="guidesRoleTitleSGuide">
                Melee dps
            </div>
            <div class="guidePreviewSGuide">
                <quill-editor
                    *ngIf="roleSelect=='any' || roleSelect=='melee dps'" 
                    [(ngModel)]="res['data']['html-melee']"
                    [options]="editorOptions">
                </quill-editor>
            </div>
        </div>
        <div class="guideSectionSGuide" *ngIf="roleSelect=='any' || roleSelect=='range dps'">
            <div class="guidesRoleTitleSGuide">
                Range dps
            </div>
            <div class="guidePreviewSGuide">
                <quill-editor
                    *ngIf="roleSelect=='any' || roleSelect=='range dps'"
                    [(ngModel)]="res['data']['html-range']"
                    [options]="editorOptions">
                </quill-editor>
            </div>
        </div>
        <div class="guideSectionSGuide" *ngIf="roleSelect=='any' || roleSelect=='healer'">
            <div class="guidesRoleTitleSGuide">
                Healer
            </div>
            <div class="guidePreviewSGuide">
                <quill-editor
                    *ngIf="roleSelect=='any' || roleSelect=='healer'"
                    [(ngModel)]="res['data']['html-healer']"
                    [options]="editorOptions">
                </quill-editor>
            </div>
        </div>
        <div class="guideSectionSGuide" *ngIf="roleSelect=='any' || roleSelect=='tank'">
            <div class="guidesRoleTitleSGuide">
                Tank
            </div>
            <div class="guidePreviewSGuide">
                <quill-editor
                    *ngIf="roleSelect=='any' || roleSelect=='tank'"
                    [(ngModel)]="res['data']['html-tank']"
                    [options]="editorOptions">
                </quill-editor>
            </div>
        </div>
    </div>
</div>