.containerSGuide{
    top: 0px;
    right: 15%;
    left: 15%;
    margin-bottom: 150px;
    position: absolute;
}

.headerTitleSGuide {
    color:#ffffff;
    position: relative;
    left: 25px;
    top: -25px;
    font-size:50px;
}

.comboContainerSGuide {
    position: relative;
    float: right;
    right: 10%;
    top: -40px;
    color:#fff;
}

.comboSGuide {

}

.guidesContainerSGuide{
}

.guideSectionSGuide   {
    
}

.guidesRoleTitleSGuide    {
    color:#ffffff;
    position: relative;
    font-size:25px;
    margin: 20px;
    margin-top: 50px;
}

.guidePreviewSGuide   {
    background-color: #acacac;
}

.loadingSpinnerSGuide   {
    position: relative;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
}
