<div class="containerSearchInfo">
  <div class="searchContainer">
    <div class="nameContainer">
      <p class="textInput">Name:</p>
      <input type="text" (change)="nameChange($event)" value={{charName}} (keyup.enter)="searchCharacter($event)">
      <input tabindex="-1" class="altCodesButton" (click)="altCodes($event)" type="button" value="altCodes">
      <p class="textError" *ngIf="error.name.error">{{error.name.text}}</p>
    </div>
    <div class="serverContainer">
      <p class="textInput">Server:</p>
      <input type="text" (change)="serverChange($event)" value={{serverName}} (keyup.enter)="searchCharacter($event)">
      <p class="textError" *ngIf="error.server.error">{{error.server.text}}</p>
    </div>
    <div class="searchButtonContainer">
      <button (click)="searchCharacter($event)" mat-raised-button>Search</button>
    </div>
    <div class="infoContainer">
        <img class="loadingIcon" src="assets/loadingGif.gif" *ngIf="loader">
        <p class="textError" *ngIf="error.webService.error">{{error.webService.text}}</p>
    </div>
    <div class="altCodesWindow" *ngIf="altCode">
      <div class="specialCharKeyboard">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="á">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="à">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="â">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="ä">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="å">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="ª">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="æ">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="ç">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="œ">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="é">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="è">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="ê">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="ë">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="ý">
        </div>
        <div class="specialCharKeyboard">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="Á">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="À">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="Â">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="Ä">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="Å">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="ƒ">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="Æ">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="Ç">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="Œ">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="É">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="È">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="Ê">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="Ë">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="Ý">
        </div>
        <div class="specialCharKeyboard">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="í">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="ì">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="î">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="ï">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="ñ">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="ó">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="ò">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="ô">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="ö">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="º">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="ú">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="ù">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="û">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="ÿ">
        </div>
        <div class="specialCharKeyboard">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="Í">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="Ì">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="Î">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="Ï">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="Ñ">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="Ó">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="Ò">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="Ô">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="Ö">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="Ü">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="Ú">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="Ù">
          <input class="specialCharButton" (click)="specialChar($event)" type="button" value="Û">
          <input (click)="closeAltCode($event)" type="button" value="CLOSE" style="width:75px;height: 25px;">
        </div>
    </div>
  </div>
</div>
<div class="characterInfoContainer">
  <img src="http://render-us.worldofwarcraft.com/character/zuljin/147/188313491-inset.jpg" width="230px" height="116px">
  <div class="characterPrincipalData">
    <div class="nameServer">
      Aiun@Zul'jin
    </div>
    <img class="classIcon" src="https://wow.zamimg.com/images/wow/icons/large/class_mage.jpg" width="30px" height="30px">
    <div class="class">
      Mage
    </div>
    <img class="specIcon" src="https://wow.zamimg.com/images/wow/icons/large/spell_holy_magicalsentry.jpg" width="30px" height="30px">
    <div class="spec">
      Fire
    </div>
    <div class="ilvl">
      Bags ilvl: 999
    </div>
    <div class="ilvlEquiped">
      Equiped ilvl: 999
    </div>
  </div>
</div>