<div class="containerCharSearch" *ngIf="userLevelBool">
  <div class="containerSearchInfoCharSearch">
    <div class="nameContainerCharSearch">
      <p class="textInputCharSearch">Name:</p>
      <input class="nameInputCharSearch" type="text" (change)="nameChange($event)" value={{charName}} (keyup.enter)="searchCharacter($event)">
      <input tabindex="-1" class="altCodesButtonCharSearch" (click)="altCodes($event)" type="button" value="altCodes">
      <p class="nameErrorCharSearch" *ngIf="error.name.error">{{error.name.text}}</p>
    </div>
    <div class="serverContainerCharSearch">
      <p class="textInputCharSearch">Server:</p>
      <input class="serverInputCharSearch" type="text" (change)="serverChange($event)" value={{serverName}} (keyup.enter)="searchCharacter($event)">
      <p class="serverErrorCharSearch" *ngIf="error.server.error">{{error.server.text}}</p>
    </div>
    <div class="searchButtonContainerCharSearch">
      <button color="primary" [disabled]="loader" class="searchButtonCharSearch" (click)="searchCharacter($event)" mat-raised-button>Search</button>
    </div>
    <div class="infoContainerCharSearch">
      <p class="textErrorSearchCharSearch" *ngIf="error.webService.error">{{error.webService.text}}</p>
    </div>
    <div class="altCodesWindowCharSearch" *ngIf="altCode">
      <div class="specialCharKeyboardCharSearch">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="á">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="à">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="â">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="ä">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="å">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="ª">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="æ">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="ç">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="œ">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="é">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="è">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="ê">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="ë">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="ý">
      </div>
      <div class="specialCharKeyboardCharSearch">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="Á">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="À">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="Â">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="Ä">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="Å">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="ƒ">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="Æ">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="Ç">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="Œ">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="É">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="È">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="Ê">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="Ë">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="Ý">
      </div>
      <div class="specialCharKeyboardCharSearch">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="í">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="ì">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="î">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="ï">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="ñ">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="ó">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="ò">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="ô">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="ö">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="º">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="ú">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="ù">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="û">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="ÿ">
      </div>
      <div class="specialCharKeyboardCharSearch">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="Í">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="Ì">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="Î">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="Ï">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="Ñ">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="Ó">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="Ò">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="Ô">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="Ö">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="Ü">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="Ú">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="Ù">
        <input class="specialCharButtonCharSearch" (click)="specialChar($event)" type="button" value="Û">
        <input (click)="closeAltCode($event)" type="button" value="CLOSE" style="width:75px;height: 25px;">
      </div>
    </div>
  </div>
  <mat-spinner class="loadingSpinnerCharSearch" *ngIf="loader"></mat-spinner>
  <div *ngIf="searchLoad&&!loader">
    <div class="characterInfoContainerCharSearch">
      <div class="avatarImageCharSearch">
        <img src={{character.avatar}} width="230px" height="116px">
        <div class="charLvlCharSearch">
          {{character.level}}
        </div>
        <div class="charRaceCharSearch">
          {{character.race}}
        </div>
      </div>
      <div class="characterInfoRightContainerCharSearch">
        <div class="nameServerContainerCharSearch">
          <div class="nameServerCharSearch">
            {{character.name}}@{{character.realm}}
          </div>
        </div>
        <div class="guildNameContainerCharSearch">
          <div class="guildNameCharSearch">
            Guild: {{character.guild.name}}
          </div>
        </div>
        <div class="classSpecContainerCharSearch">
            <div class="fillerCharSearch">
            </div>
          <img class="classIconCharSearch" src={{character.classIcon}} width="30px" height="30px">
          <div class="classCharSearch">
            {{character.class}}
          </div>
          <div class="fillerCharSearch">
          </div>
          <img class="specIconCharSearch" src={{character.specIcon}} width="30px" height="30px">
          <div class="specCharSearch">
            {{character.spec}}
          </div>
          <div class="fillerCharSearch">
          </div>
        </div>
        <div class="ilvlInformationContainerCharSearch">
          <div class="fillerCharSearch">
          </div>
          <div class="equipedIlvlCharSearch">
            Equiped: {{character.averageIlvlEquiped}}
          </div>
          <div class="fillerCharSearch">
          </div>
          <div class="bagIlvlCharSearch">
            Bags: {{character.averageIlvl}}
          </div>
          <div class="fillerCharSearch">
          </div>
        </div>
      </div>
    </div>
    <div class="moreInfoContainerCharSearch">
      <div class="progressContainerCharSearch">
        <div class="padding15pxCharSearch">
          <div class="progressTitleTextCharSearch">
            Progress (kills):
          </div>
          <ngx-datatable
            class='material height400pxCharSearch'
            [rows]='rows'
            [columnMode]="'force'"
            [headerHeight]="40"
            [rowClass]="getRowClass"
            [rowHeight]="55"
            [scrollbarV]="true"
            [scrollbarH]="false">
            <ngx-datatable-column name="boss" [sortable]=false>
              <ng-template let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
                <img src={{rows[rowIndex].bossIcon}} width="64px" height="32px">
                <span style="bottom:10px; position:relative;color:#d0d0d0;">
                  {{value}}
                </span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="normal" [sortable]=false [width]="1">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <span style="left:15px; position:relative;color:#d0d0d0;">
                  {{value}}
                </span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="heroic" [sortable]=false [width]="1">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <span style="left:15px; position:relative;color:#d0d0d0;">
                  {{value}}
                </span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="mythic" [sortable]=false [width]="1">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <span style="left:15px; position:relative;color:#d0d0d0;">
                  {{value}}
                </span>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
      <div class="fillerCharSearch">
      </div>
      <div class="itemsContainerCharSearch">
        <div class="padding15pxCharSearch">
          <div class="itemsTitleTextCharSearch">
            Items:
          </div>
          <ngx-datatable
            class='material height400pxCharSearch'
            [rows]='items'
            [columnMode]="'force'"
            [headerHeight]="40"
            [rowClass]="getRowClass"
            [rowHeight]="55"
            [scrollbarV]="true"
            [scrollbarH]="false">
            <ngx-datatable-column name="slot" [sortable]=false [width]="1">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <span style="left:15px; position:relative;color:#d0d0d0;">
                  {{value}}
                </span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="name" [sortable]=false>
              <ng-template let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
                <img src={{items[rowIndex].icon}} width="20px" height="20px">
                <span style="position:relative;color:#d0d0d0;">
                  {{value}}
                </span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="ilvl" [sortable]=false [width]="1">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <span style="left:15px; position:relative;color:#d0d0d0;">
                  {{value}}
                </span>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
    <div class="evenMoreInfoContainerCharSearch">
      <div class="profContainerCharSearch">
        <div class="profTitleTextCharSearch">
          Professions:
        </div>
        <div class="professionCharSearch" *ngIf="character.professions[0]!=undefined">
          <img class="profIconCharSearch" src="{{character.professions[0].icon}}" width="30px" height="30px">
          {{character.professions[0].name}} - {{character.professions[0].level}}
        </div>
        <div class="professionCharSearch" *ngIf="character.professions[1]!=undefined">
          <img class="profIconCharSearch" src="{{character.professions[1].icon}}" width="30px" height="30px">
          {{character.professions[1].name}} - {{character.professions[1].level}}
        </div>
      </div>
      <div class="fillerCharSearch">
      </div>
      <div class="pvpContainerCharSearch">
        <div class="pvpTitleTextCharSearch">
          PvP:
        </div>
        <div class="displayFlexCharSearch">
          <div class="fillerCharSearch">
          </div>
          <div class="honorableKillsCharSearch">
            HK: {{character.pvp.honorKill}}
          </div>
          <div class="fillerCharSearch">
          </div>
          <div class="arena2v2CharSearch">
            2v2: {{character.pvp.arena2v2}}
          </div>
          <div class="fillerCharSearch">
          </div>
        </div>
        <div class="displayFlexCharSearch">
          <div class="fillerCharSearch">
          </div>
          <div class="arena3v3CharSearch">
            3v3: {{character.pvp.arena3v3}}
          </div>
          <div class="fillerCharSearch">
          </div>
          <div class="rbgCharSearch">
            RBG: {{character.pvp.rbg}}
          </div>
          <div class="fillerCharSearch">
          </div>
        </div>
      </div>
      <div class="fillerCharSearch">
      </div>
      <div style="clear: both;"></div>
      <div class="statsContainerCharSearch">
        <div class="statsTitleTextCharSearch">
          Stats:
        </div>
        <div style="clear: both;"></div>
        <ngx-datatable
          class='material statsTableCharSearch'
          [rows]='stats'
          [columnMode]="'force'"
          [headerHeight]="30"
          [rowClass]="getRowClass"
          [rowHeight]="30"
          [scrollbarV]="true"
          [scrollbarH]="true">
          <ngx-datatable-column name="stat" [sortable]=false [width]="1">
            <div style="clear: both;"></div>
            <ng-template let-value="value" ngx-datatable-cell-template>
              <div style="clear: both;"></div>
              <span style="left:15px; position:relative;color:#d0d0d0;bottom:10px;">
                {{value}}
              </span>
              <div style="clear: both;"></div>
            </ng-template>
            <div style="clear: both;"></div>
          </ngx-datatable-column>
          <div style="clear: both;"></div>
          <ngx-datatable-column name="value" [sortable]=false [width]="1">
            <div style="clear: both;"></div>
            <ng-template let-value="value" ngx-datatable-cell-template>
              <div style="clear: both;"></div>
              <span style="left:15px; position:relative;color:#d0d0d0;bottom:10px;">
                {{value}}
              </span>
              <div style="clear: both;"></div>
            </ng-template>
            <div style="clear: both;"></div>
          </ngx-datatable-column>
          <div style="clear: both;"></div>
        </ngx-datatable>
        <div style="clear: both;"></div>
      </div>
      <div style="clear: both;"></div>
    </div>
    <div class="logsContainerCharSearch">
      <div class="overallContainerCharSearch">
        <div class="overallTitleTextCharSearch">
          Overall logs
        </div>
        <div class="padding15pxCharSearch">
          <ngx-datatable
            #myTable
            class='material expandableCharSearch'
            [rows]='overallParse'
            [columnMode]="'force'"
            [headerHeight]="40"
            [rowClass]="getRowClass"
            [rowHeight]="55">
            <ngx-datatable-row-detail [rowHeight]="detailsHeight" #myDetailRow>
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                <div class="tableContainerCharSearch">
                    <ngx-datatable
                        class='material'
                        [rows]='overallParseDetails[row.spec]'
                        [columnMode]="'force'"
                        [headerHeight]="30"
                        [rowHeight]="40">
                        <ngx-datatable-column name="boss" [cellClass]="getCellClass">
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                <span>
                                    {{value}}
                                </span>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="normal" [cellClass]="getCellClass" [width]="1">
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                <span>
                                    {{value}}
                                </span>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="heroic" [cellClass]="getCellClass" [width]="1">
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                <span>
                                    {{value}}
                                </span>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="mythic" [cellClass]="getCellClass" [width]="1">
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                <span>
                                    {{value}}
                                </span>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
                </ng-template>
            </ngx-datatable-row-detail>
            <ngx-datatable-column
                [width]="1"
                [resizeable]="false"
                [sortable]="false"
                [draggable]="false"
                [canAutoResize]="false">
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                    <a
                        href="javascript:void(0)"
                        title="Expand/Collapse Row"
                        (click)="toggleExpandRow(row)">
                        <img src="assets/arrow_right.png" width="20px" height="20px" *ngIf="!expanded">
                        <img src="assets/arrow_down.png" width="20px" height="20px" *ngIf="expanded">
                    </a>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="spec" [cellClass]="getCellClass" [sortable]=false>
              <ng-template let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
                <img src={{overallParse[rowIndex].specIcon}} width="20px" height="20px">
                <span style="left:15px; bottom:5px; position:relative;">
                  {{value}}
                </span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="normal" [cellClass]="getCellClass" [sortable]=false [width]="1">
              <ng-template let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
                <span style="position:relative;">
                  {{value}}
                </span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="heroic" [cellClass]="getCellClass" [sortable]=false [width]="1">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <span style="left:15px; position:relative;">
                  {{value}}
                </span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="mythic" [cellClass]="getCellClass" [sortable]=false [width]="1">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <span style="left:15px; position:relative;">
                  {{value}}
                </span>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
      <div class="fillerCharSearch">
      </div>
      <div class="ilvlContainerCharSearch">
        <div class="ilvlTitleTextCharSearch">
          Item level logs:
        </div>
        <div class="padding15pxCharSearch">
            <ngx-datatable
              #myTable2
              class='material expandableCharSearch'
              [rows]='ilvlParse'
              [columnMode]="'force'"
              [headerHeight]="40"
              [rowClass]="getRowClass"
              [rowHeight]="55">
              <ngx-datatable-row-detail [rowHeight]="detailsHeight" #myDetailRow>
                  <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                  <div class="tableContainerCharSearch">
                      <ngx-datatable
                          class='material'
                          [rows]='ilvlParseDetails[row.spec]'
                          [columnMode]="'force'"
                          [headerHeight]="30"
                          [rowHeight]="40">
                          <ngx-datatable-column name="boss" [cellClass]="getCellClass">
                              <ng-template let-value="value" ngx-datatable-cell-template>
                                  <span>
                                      {{value}}
                                  </span>
                              </ng-template>
                          </ngx-datatable-column>
                          <ngx-datatable-column name="normal" [cellClass]="getCellClass" [width]="1">
                              <ng-template let-value="value" ngx-datatable-cell-template>
                                  <span>
                                      {{value}}
                                  </span>
                              </ng-template>
                          </ngx-datatable-column>
                          <ngx-datatable-column name="heroic" [cellClass]="getCellClass" [width]="1">
                              <ng-template let-value="value" ngx-datatable-cell-template>
                                  <span>
                                      {{value}}
                                  </span>
                              </ng-template>
                          </ngx-datatable-column>
                          <ngx-datatable-column name="mythic" [cellClass]="getCellClass" [width]="1">
                              <ng-template let-value="value" ngx-datatable-cell-template>
                                  <span>
                                      {{value}}
                                  </span>
                              </ng-template>
                          </ngx-datatable-column>
                      </ngx-datatable>
                  </div>
                  </ng-template>
              </ngx-datatable-row-detail>
              <ngx-datatable-column
                  [width]="1"
                  [resizeable]="false"
                  [sortable]="false"
                  [draggable]="false"
                  [canAutoResize]="false">
                  <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                      <a
                          href="javascript:void(0)"
                          title="Expand/Collapse Row"
                          (click)="toggleExpandRow2(row)">
                          <img src="assets/arrow_right.png" width="20px" height="20px" *ngIf="!expanded">
                          <img src="assets/arrow_down.png" width="20px" height="20px" *ngIf="expanded">
                      </a>
                  </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="spec" [cellClass]="getCellClass" [sortable]=false>
                <ng-template let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
                  <img src={{ilvlParse[rowIndex].specIcon}} width="20px" height="20px">
                  <span style="left:15px; bottom:5px; position:relative;">
                    {{value}}
                  </span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="normal" [cellClass]="getCellClass" [sortable]=false [width]="1">
                <ng-template let-value="value" ngx-datatable-cell-template let-rowIndex="rowIndex">
                  <span style="position:relative;">
                    {{value}}
                  </span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="heroic" [cellClass]="getCellClass" [sortable]=false [width]="1">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span style="left:15px; position:relative;">
                    {{value}}
                  </span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="mythic" [cellClass]="getCellClass" [sortable]=false [width]="1">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span style="left:15px; position:relative;">
                    {{value}}
                  </span>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
      </div>
    </div>
  </div>
</div>