.containerCharSearch{
    top: 0px;
    right: 15%;
    left: 15%;
    position: absolute;
    margin-bottom: 150px;  
}

.containerSearchInfoCharSearch    {
    padding: 15px;
    position: relative;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.nameContainerCharSearch  {
    max-width: 180px;
    min-width: 180px;
    position: relative;
    flex: 1;
    height: 120px;
}
.serverContainerCharSearch    {
    max-width: 180px;
    min-width: 180px;
    position: relative;
    flex: 1;
    height: 120px;
}
.searchButtonContainerCharSearch  {
    position: relative;
    max-width: 100px;
    min-width: 100px;
    flex: 1;
    height: 120px;
}
.infoContainerCharSearch  {
    position: relative;
    max-width: 150px;
    min-width: 150px;
    flex: 1;
    height: 120px;
}
.altCodesWindowCharSearch {
    position: relative;
    flex: 1;
    min-width: 460px;
    height: 120px;
}

.textInputCharSearch  {
    color: #fff;
    top: -5px;
    left: 15px;
    position: relative;
}

.nameInputCharSearch  {
    top: -15px;
    left: 15px;
    height: 20px;
    width: 150px;
    position: relative;
}

.serverInputCharSearch  {
    top: -15px;
    left: 15px;
    height: 20px;
    width: 150px;
    position: relative;
}

.altCodesButtonCharSearch {
    bottom: 17px;
    left: 119px;
    width: 50px;
    height: 20px;
    font-size: 9px;
    position: relative;
}

.serverErrorCharSearch  {
    color: #f00;
    font-size: 13px;
    position: relative;
    bottom: 25px;
    left: 20px;
}

.nameErrorCharSearch  {
    color: #f00;
    font-size: 13px;
    position: relative;
    bottom: 46px;
    left: 20px;
}

.searchButtonCharSearch   {
    position: relative;
    top: 30px;
    left: 13px;
}

.loadingIconCharSearch    {
    position: absolute;
    width:20px;
    height:20px;
    top:37px;
}

.textErrorSearchCharSearch  {
    color: #f00;
    font-size: 13px;
    position: relative;
    top: 27px;
    left: 20px;
}

.specialCharKeyboardCharSearch    {
    padding-bottom: 5px;
}

.specialCharButtonCharSearch  {
    width: 25px;
    height: 25px;
}

.characterInfoContainerCharSearch {
    background-color: #000;
    position: relative;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.avatarImageCharSearch    {
    width:230px;
    height:116px;
}

.charLvlCharSearch    {
    position: relative;
    color:#fff;
    background-color:#000;
    width: fit-content;
    font-size: 25px;
    bottom:32px;
    left:194px;
}

.charRaceCharSearch   {
    position: relative;
    color:#fff;
    background-color:#000;
    width: fit-content;
    font-size: 25px;
    bottom:60px;
}


.characterInfoRightContainerCharSearch    {
    background-color: #000;
    position: relative;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.nameServerContainerCharSearch {
    width: 50%;
    height: 58px;
    min-width: 350px;
}

.guildNameContainerCharSearch  {
    width: 50%;
    height: 58px;
    min-width: 350px;
}

.classSpecContainerCharSearch  {
    width: 50%;
    display: flex;
    height: 58px;
    min-width: 350px;
}

.ilvlInformationContainerCharSearch    {
    width: 50%;
    display: flex;
    height: 58px;
    min-width: 350px;
}

.nameServerCharSearch {
    color: #fff;
    position: relative;
    top:15px;
    display: table;
    margin: 0 auto;
    font-size: 25px;
}

.guildNameCharSearch  {
    color: #fff;
    position: relative;
    top:15px;
    display: table;
    margin: 0 auto;
    font-size: 25px;
}

.fillerCharSearch  {
    flex-grow: 1;
}

.classIconCharSearch  {
    top:15px;
    position: relative;
}

.classCharSearch  {
    color: #fff;
    padding-left: 5px;
    font-size: 20px; 
    top:17px;
    position: relative;
}

.specIconCharSearch   {
    top:15px;
    position: relative;
}

.specCharSearch   {
    color: #fff;
    padding-left: 5px;
    font-size: 20px;
    top:17px;
    position: relative;
}

.equipedIlvlCharSearch{
    color: #fff;
    padding-left: 5px;
    font-size: 20px; 
    top:17px;
    position: relative;
}

.bagIlvlCharSearch{
    color: #fff;
    padding-left: 5px;
    font-size: 20px; 
    top:17px;
    position: relative;
}

.moreInfoContainerCharSearch  {
    padding-top: 20px;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.progressContainerCharSearch  {
    background-color: #000;
    width: 49%;
    min-width: 400px;
}

.progressTitleTextCharSearch  {
    font-size: 20px;
    margin-bottom: 10px;
    color:#fff;
}

.itemsTitleTextCharSearch  {
    font-size: 20px;
    margin-bottom: 10px;
    color:#fff;
}

.ngx-datatable{
    background-color: #303030;
}

::ng-deep .row-boss  {
    font-family: cursive;
}

.itemsContainerCharSearch {
    background-color: #000;
    width: 49%;  
    min-width: 400px;
}

.padding15pxCharSearch    {
    padding: 15px;
}

.height400pxCharSearch    {
    height: 400px;
}

.evenMoreInfoContainerCharSearch  {
    padding-top: 20px;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    height: 200px;
}

.profContainerCharSearch  {
    background-color: #000;
    width: 20%;
    min-width: 100px;
}

.profTitleTextCharSearch  {
    font-size: 20px;
    margin-bottom: 10px;
    color:#fff;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
}

.pvpContainerCharSearch  {
    background-color: #000;
    width: 25%;  
    min-width: 125px;
}

.pvpTitleTextCharSearch   {
    font-size: 20px;
    margin-bottom: 10px;
    color:#fff;
    padding-top: 15px;
    padding-left: 15px;
}

.statsContainerCharSearch  {
    background-color: #000;
    width: 50%;  
    min-width: 220px;
}

.statsTitleTextCharSearch {
    font-size: 20px;
    margin-bottom: 10px;
    color:#fff;
    padding-top: 15px;
    padding-left: 15px;
}

.displayFlexCharSearch    {
    display: flex;
}

.professionCharSearch   {
    color: #fff;
    display: table;
    margin: 0 auto;
    position: relative;
    bottom:20px;
}

.profIconCharSearch   {
    padding: 10px;
    top:20px;
    position: relative;
}

.honorableKillsCharSearch {
    color: #fff;
    padding-top:20px;
    padding-bottom: 20px;
}

.arena2v2CharSearch    {
    color: #fff;
    padding-top:20px;
    padding-bottom: 20px;
}

.arena3v3CharSearch    {
    color: #fff;
    padding-top:20px;
    padding-bottom: 20px;
}

.rbgCharSearch    {
    color: #fff;
    padding-top:20px;
    padding-bottom: 20px;
}

.statsTableCharSearch    {
    height: 140px;
    width: 90%;
    display: table;
    margin: 0 auto;
}

.logsContainerCharSearch  {
    padding-top: 20px;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.ilvlContainerCharSearch  {
    background-color: #000;
    width: 49%;
    min-width: 400px;
}

.overallContainerCharSearch  {
    background-color: #000;
    width: 49%;
    min-width: 400px;
}

.ilvlTitleTextCharSearch {
    font-size: 20px;
    margin-bottom: 10px;
    color:#fff;
    padding-top: 15px;
    padding-left: 15px;
}

.overallTitleTextCharSearch {
    font-size: 20px;
    margin-bottom: 10px;
    color:#fff;
    padding-top: 15px;
    padding-left: 15px;
}

.loadingSpinnerCharSearch   {
    position: relative;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
}


::ng-deep .bossName  {
    background-color: #a0a0a0;
    border-bottom: solid;
    border-left: solid;
}

::ng-deep .grayParse  {
    background-color: #666;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom: solid;
    border-left: solid;
}

::ng-deep .greenParse  {
    background-color: rgb(30, 255, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom: solid;
    border-left: solid;
}

::ng-deep .blueParse  {
    background-color: rgb(0, 112, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom: solid;
    border-left: solid;
}

::ng-deep .PurpleParse  {
    background-color: rgb(163, 53, 238);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom: solid;
    border-left: solid;
}

::ng-deep .LegendaryParse  {
    background-color: rgb(255, 128, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom: solid;
    border-left: solid;
}

::ng-deep .topParse  {
    background-color: rgb(229, 204, 128);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom: solid;
    border-left: solid;
}
























