.container{
    top: 0px;
    right: 15%;
    left: 15%;
    display:flex;
    position: absolute;
}

.unauthorizedContainer  {
    padding-top: 50px;
    margin: 0 auto;
}

.unauthorizedImgContainer{
    float: left;
}

.unauthorizedText{
    float: left;
    color:#A00;
    font-size: 50px;
    margin-top: 20px;
}